<!DOCTYPE html>
<html lang="pl-PL">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Czytanie pogody z chmur</title>
    <meta name="description" content="Blog o chmurach i pogodzie">
	<meta name="keywords" content="pogoda, chmury, czytanie z chmur, przepowiadanie, rodzaje chmur, zjawiska, przewidywanie, obserwacja">
	<meta name="author" content="Aneta Jóźwiak">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"></head>

<body>
    
    <header>

        <nav class="navbar navbar-dark bg-clouds navbar-expand-lg fixed-top">
        
            <a class="navbar-brand" href="#"><img src="../img/logo1.png" width="50" height="30" class="d-inline-block mr-1 align-bottom" alt=""></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="mainmenu">
            
                <ul class="navbar-nav mr-auto">
                
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html"> Start </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="niebo.html"> Niebo </a>
                        
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="barwy.html"> Barwy </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="zjawiska.html"> Zjawiska </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="noc.html"> Noc </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="zwierzeta.html"> Zwierzęta </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="ludowe.html"> Ludowe prognozy </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="przyslowia.html"> Przysłowia </a>
                    </li>
                
                </ul>
            
                <!-- <form class="form-inline">
                
                    <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                    <button class="btn btn-light" type="submit">Znajdź</button>
                
                </form> -->
            
            </div>
        
        </nav>
        
    </header>

    <main>

        <div class="container">

            <div class="row">

                <header class="col-12 mt-5 niebo">
                    <h1 class="pt-3">Barwy na niebie</h1>
                </header>

                <div class="col-12 col-md-6 col-lg-8">
                    <p class="indent">Zjawiska atmosferyczne zachodzące podczas wschodu i zachodu słońca to jedn z najpewniejszych widok, któremu towarzyszą następstwa pogodowe. Czerwone słońce o wschodzie - suche powietrze jest również na wschodzie, za którym nadciąga wilgotne powietrze, czyli będzie padać. Czerwony zachód słońca - suche powietrze znajduje się na zachodzie i będzie podążać w twoim kierunku, oznacza to, że czeka cię wyż i doskonała pogoda. Niebo o żółtym lub zielonkawym zabarwieniu o zachodzie przebijające spomiędzy chmur - dobra pogoda. Zmrok zapada wolno i towarzyszy mu silny wiatr - następnego dnia można spodziewać się pogorszenia pogody.</p>
                    <p class="cytat">Czerwony wieczór i szary ranek <br> Będzie dzień ładny bez niespodzianek <br> Szaro wieczorem, czerwono z rana <br> Nie bierz się bracie do żeglowania</p> 
                </div>
            
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <img class="img-thumbnail float-right" src="../img/barwy.jpg" alt="Zachód">
                </div>
                
                <div class="col-8 mt-3 text barwy">
                    <p>na wieczornym niebie różowe chmury pierzaste bez innych chmur</p> 
                    <p>niebo poranne szare</p>
                    <p>piękna, niejaskrawa zorza wieczorna bez ciemnych chmur</p>
                    <p>zorza poranna w niskich chmurach</p>
                    <p>jaskrawe i kontrastowe barwy na niebie porannym i wieczornym</p>
                    <p>ciemna lub fioletowa czerwień</p>
                    <p>silne różnice w zabarwieniu chmur podczas dnia</p>
                    <p>szare niebo pokryte licznymi wielkimi chmurami kłębiastymi</p>
                    <p>szare niebo pokryte chmurami warstwowymi</p>
                    <p>na wieczornym niebie przeważają barwy jasnożółte</p>
                    <p>na wieczornym niebie przeważają barwy brudno-seledynowe i czerwono-żółte</p>
                </div>

                <div class="col-4 mt-3 text2 barwy">
                    <p>piękna pogoda</p>
                    <p>piękna pogoda</p>
                    <p>piękna pogoda</p>
                    <p>niepogoda</p>
                    <p>niepogoda</p>
                    <p>niepogoda</p>
                    <p>niepogoda</p>
                    <p>posucha</p>
                    <p>deszcz</p>
                    <p>deszcz i wiatr</p>
                    <p>wietrznie, bezdeszczowo</p>
                </div>

            </div>

        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.col-sm-6 col-md-5flare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../jsBootstrap/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>

</body>
</html>