<!DOCTYPE html>
<html lang="pl-PL">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Czytanie pogody z chmur</title>
    <meta name="description" content="Blog o chmurach i pogodzie">
	<meta name="keywords" content="pogoda, chmury, czytanie z chmur, przepowiadanie, rodzaje chmur, zjawiska, przewidywanie, obserwacja">
	<meta name="author" content="Aneta Jóźwiak">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"></head>

<body>
    
    <header>

        <nav class="navbar navbar-dark bg-clouds navbar-expand-lg fixed-top">
        
            <a class="navbar-brand" href="#"><img src="../img/logo1.png" width="50" height="30" class="d-inline-block mr-1 align-bottom" alt=""></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="mainmenu">
            
                <ul class="navbar-nav mr-auto">
                
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html"> Start </a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="niebo.html"> Niebo </a>
                        
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="barwy.html"> Barwy </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="zjawiska.html"> Zjawiska </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="noc.html"> Noc </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="zwierzeta.html"> Zwierzęta </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="ludowe.html"> Ludowe prognozy </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="przyslowia.html"> Przysłowia </a>
                    </li>
                
                </ul>
            
                <!-- <form class="form-inline">
                
                    <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                    <button class="btn btn-light" type="submit">Znajdź</button>
                
                </form> -->
            
            </div>
        
        </nav>
        
    </header>

    <main>

        <div class="container">

            <div class="row">

                <header class="col-12 mt-5 niebo">
                    <h1 class="pt-3">Obserwuj chmury</h1>
                </header>

                <div class="col-12 col-md-6 col-lg-8">
                    <p class="indent">Żeglarz powinien bacznie przyglądać się zmianom zachodzącym na niebie, aby przewidzieć jaka czeka go pogoda. Czasem będąc na środku jeziora nie mamy dostępy do najnowszej progonozy pogody. Powinniśmy jednak wiedzieć, kiedy mamy się skryć w najbliższym porcie, a kiedy możemy spokojnie kontynuować żeglugę. W dawnych czasach obserwacją nieba właśnie zajmowali się przede wszystkim żeglarze. W związku z tym powstało wiele rymowanek, mających na celu łatwe rozpoznanie przepowiedni pogodowych związnych ze stanami nieba.</p>

                    <p class="cytat">Chmury gęstnieją szybko i nagle <br> Na maszt uwaga i twoje żagle <br> Lecz jeśli z wolna nadciągają <br> Wyciągaj sieci, żegluj i trałuj</p> 
                </div>
            
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <img class="img-thumbnail float-right" src="../img/zeglarz.jpg" alt="Żeglarz">
                </div>

                <div class="col-8 mt-3 text">
                    <p>chmury różnego kształtu i wysokości</p> 
                    <p>chmury zbierające się po burzliwej i deszczowej pogodzie na zachodzie lub północnym zachodzie i tworzące kłęby</p>
                    <p>chmury pierzaste, szybko przeciągające z zachodu lub południowego zachodu</p>
                    <p>powolny przepływ chmur pierzastych ze wschodu</p>
                    <p>zbieranie się licznych chmur pierzastych po długiej
                    ładnej pogodzie</p>
                    <p>zbieranie się wieczorem licznych chmur pierzastych
                    po długiej ładnej pogodzie na zachodniej stronie nieba</p>
                    <p>chmury pierzaste w warstwach deszcz w ciągu 6 godzin
                    baranki na niebie porannym</p>
                    <p>baranki na niebie wieczornym</p>
                    <p>baranki w ciągu dnia i rozprzestrzeniające się chmury
                    kłębiaste wieczorem</p>
                    <p>chmury kłębiaste z ostrymi konturami</p>
                    <p>brzegi chmur zacierają się</p>
                    <p>chmury pęcznieją w górze</p>
                    <p>chmury kłębiaste o wschodzie słońca</p>
                    <p>wiele ciemnych chmur warstwowych</p>
                    <p>ciemnoszare chmury warstwowe pod jasnoszarym niebem</p>
                    <p>walcowate lub nawisłe chmury przepływające
                    z jednej strony nieba na drugą</p>
                    <p>bezchmurne niebo wczesnym rankiem podczas
                    nieustalonej pogody</p>
                </div>

                <div class="col-4 mt-3 text2">
                    <p>niepogoda</p>
                    <p>przejaśnienia</p>
                    <p>niepogoda</p>
                    <p>długotrwała piękna pogoda</p>
                    <p>zbliżająca się depresja, która może przejść bez opadów</p>
                    <p>prawdopodobnie niepogoda</p>
                    <p>niepogoda</p>
                    <p>ładna pogoda</p>
                    <p>w nocy burza</p>
                    <p>ładna pogoda</p>
                    <p>skłonność do deszczu</p>
                    <p>skłonność do burz</p>
                    <p>niepogoda</p>
                    <p>deszcz</p>
                    <p>długotrwałe deszcze</p>
                    <p>burza lub wichura</p>
                    <p>deszcz za kilka godzin</p>
                </div> 

            </div>

        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.col-sm-6 col-md-5flare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../jsBootstrap/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>

</body>
</html>