<!DOCTYPE html>
<html lang="pl-PL">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Czytanie pogody z chmur</title>
    <meta name="description" content="Blog o chmurach i pogodzie">
	<meta name="keywords" content="pogoda, chmury, czytanie z chmur, przepowiadanie, rodzaje chmur, zjawiska, przewidywanie, obserwacja">
	<meta name="author" content="Aneta Jóźwiak">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"></head>

<body>
    
    <header>

        <nav class="navbar navbar-dark bg-clouds navbar-expand-lg fixed-top">
        
            <a class="navbar-brand" href="#"><img src="../img/logo1.png" width="50" height="30" class="d-inline-block mr-1 align-bottom" alt=""></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="mainmenu">
            
                <ul class="navbar-nav mr-auto">
                
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html"> Start </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="niebo.html"> Niebo </a>
                        
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="barwy.html"> Barwy </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="zjawiska.html"> Zjawiska </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="noc.html"> Noc </a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="zwierzeta.html"> Zwierzęta </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="ludowe.html"> Ludowe prognozy </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="przyslowia.html"> Przysłowia </a>
                    </li>
                
                </ul>
            
                <!-- <form class="form-inline">
                
                    <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                    <button class="btn btn-light" type="submit">Znajdź</button>
                
                </form> -->
            
            </div>
        
        </nav>
        
    </header>

    <main>

            <div class="container">
    
                <div class="row">
    
                    <header class="col-12 mt-5 niebo">
                        <h1 class="pt-3">Pzysłowia i rymowanki o pogodzie</h1>
                    </header>
    
                    <div class="col-md-6 col-lg-5 d-block mx-auto mt-2">
                        <img class="img-thumbnail float-right" src="../img/duch.jpg" alt="Pogoda ducha">
                    </div>
    
                    <div class="col-12 mt-2 ludowe">
                        <p class="indent">Przysłowia wywodzą się z tradycji ludowej, dlatego są świadectwem obyczajów oraz wiedzy ludu. Tworzyli je prości ludzie, którzy zdobywali wiedzę z obserwacji przyrody, to ważne źródło informacji. Język jakim się posługiwali jest natomiast ciekawym ozdobnikiem i stanowi wartość językową. Przekazywana z pokolenia na pokolenie, ludowa mądrość także współcześnie może być źródłem trafnych pogodowych prognoz.</p>
                    </div>
                        
                    <div class="col-md-7">
                        <h2 class="h3 pt-3">Przysłowia związane z porami roku, miesiącami</h2> 

                        <p class="cytat mt-3">Późna zima długo trzyma</p>
                        <p class="cytat">Jedna jaskółka wiosny nie czyni</p>
                        <p class="cytat">Srają muchy, będzie wiosna, będzie szybko trawa rosła</p>
                        <p class="cytat">Wiosna to panna, lato matka, jesień wdowa, zima macocha</p>

                        <p class="cytat">Kwiecień-plecień, bo przeplata, trochę zimy, trochę lata</p>
                        <p class="cytat">W marcu jak w garncu</p>
                        
                        <p class="cytat">Styczeń mrozi, lipiec skwarem grozi</p>
                        <p class="cytat">Kiedy luty pofolguje, marzec zimę zreperuje</p>
                        <p class="cytat">W marcu jak w garncu</p>
                        <p class="cytat">Kwiecień plecień, bo przeplata - trochę zimy, trochę lata</p>
                        <p class="cytat">Kto się akurat w maju urodzi, temu zwykle dobrze się powodzi</p>
                        <p class="cytat">Czerwiec się czerwieni, będzie dość w kieszeni</p>
                        <p class="cytat">Kiedy lipiec daje deszcze, długie lato będzie jeszcze</p>
                        <p class="cytat">Gdy w dni sierpnia spieka wszędzie, tedy długa zima będzie</p>
                        <p class="cytat">Wrzesień chodzi po rosie, zbiera grzyby we wrzosie</p>
                        <p class="cytat">Gdy październik z wodami, grudzień z wiatrami</p>
                        <p class="cytat">W listopadzie goło w sadzie</p>
                        <p class="cytat">Grudzień ziemię grudzi dla zwierząt i ludzi</p>
                    </div>

                    <div class="col-md-5 pt-4">
                        <img class="img-thumbnail float-right" src="../img/poryroku.jpg" alt="Pory roku">
                    </div>
                    
                    <div class="col-md-7">
                        <h2 class="h3 pt-3">Przysłowia odnoszące się do znanych Świętych</h2>

                        <p class="cytat mt-3">Gdy Makary pogodny cały styczeń chłodny</p>
                        <p class="cytat">Gdy Trzech Króli mrozem trzyma będzie jeszcze długa zima</p>
                        <p class="cytat">Jaka pogoda w Świętego Marcela będzie pogodna Wielka Niedziela</p>
                        <p class="cytat">Od świętej Agnieszki już sprzątaj z drzew liszki</p>
                        <p class="cytat">Urodzaje da rola, gdy deszcz leje w Karola</p>
                        <p class="cytat">Gdy na święty Józef bociek przybędzie, to już śniegu nie będzie</p>
                        <p class="cytat">Na świętego Franciszka szuka ziarnek w polu myszka</p>
                        <p class="cytat">Chociaż św. Wincenty, jednak szczypie mróz w pięty</p>
                        <p class="cytat">Ze świętą Małgorzatą zaczyna się lato</p>
                        <p class="cytat">Od świętej Anki zimne noce i poranki</p>
                        <p class="cytat">Po świętej Brygidzie babie lato przyjdzie</p>
                        <p class="cytat">Od świętej Urszuli chłop się kożuchem otuli</p>
                        <p class="cytat">We Wszystkich Świętych, gdy się deszcz rozpada, może słota potrzymać do końca listopada</p>
                        <p class="cytat">Święta Barbara po lodzie, Boże Narodzenie po wodzie</p>
                        <p class="cytat">Gdy w Narodzenie pogodnie, będzie tak cztery tygodnie.</p>
                    </div>

                    <div class="col-md-5 pt-4">
                        <img class="img-thumbnail float-right" src="../img/swiety.jpg" alt="Religia">
                    </div>
                    
                    <div class="col-md-7">
                        <h2 class="h3 pt-3">Przysłowia związane z pracami na roli</h2> 

                        <p class="cytat mt-3">Ile w marcu dni mglistych, tyle w żniwa dni dżdżystych</p>
                        <p class="cytat">W marcu, gdy są grzmoty, urośnie zboże ponad płoty</p>
                        <p class="cytat">O kwiecień co deszczem rosi, wiele owoców przynosi</p>
                        <p class="cytat">Częste w maju grzmoty rozpraszają chłopom zgryzoty</p>
                        <p class="cytat">O gdy kukułka w maju, spodziewaj się urodzaju</p>
                        <p class="cytat">Czerwiec daje dni gorące, kosa brzęczy już na łące</p>
                        <p class="cytat">Lipcowa pogoda, dla chłopów żniwna swoboda</p>
                    </div>

                    <div class="col-md-5 pt-4">
                        <img class="img-thumbnail float-right" src="../img/praca.jpg" alt="Praca na roli">
                    </div>

                </div>
    
            </div>
    
        </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.col-sm-6 col-md-5flare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../jsBootstrap/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>

</body>
</html>