<!DOCTYPE html>
<html lang="pl-PL">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Czytanie pogody z chmur</title>
    <meta name="description" content="Blog o chmurach i pogodzie">
	<meta name="keywords" content="pogoda, chmury, czytanie z chmur, przepowiadanie, rodzaje chmur, zjawiska, przewidywanie, obserwacja">
	<meta name="author" content="Aneta Jóźwiak">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../cssBootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"></head>

<body>
    
    <header>

        <nav class="navbar navbar-dark bg-clouds navbar-expand-lg fixed-top">
        
            <a class="navbar-brand" href="#"><img src="../img/logo1.png" width="50" height="30" class="d-inline-block mr-1 align-bottom" alt=""></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="mainmenu">
            
                <ul class="navbar-nav mr-auto">
                
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html"> Start </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="niebo.html"> Niebo </a>
                        
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="barwy.html"> Barwy </a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="zjawiska.html"> Zjawiska </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="noc.html"> Noc </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="zwierzeta.html"> Zwierzęta </a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="ludowe.html"> Ludowe prognozy </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="przyslowia.html"> Przysłowia </a>
                    </li>
                
                </ul>
            
                <!-- <form class="form-inline">
                
                    <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                    <button class="btn btn-light" type="submit">Znajdź</button>
                
                </form> -->
            
            </div>
        
        </nav>
        
    </header>

    <main>

        <div class="container">

            <div class="row">

                <header class="col-12 mt-5 niebo">
                    <h1 class="pt-3">Zjawiska atmosferyczne</h1>
                </header>
                
                <div class="col-12 col-md-6 col-lg-8">
                    <p class="indent">Zjawiska atmosferyczne oznaczają zmianę warunków pogodowych. Niebo zasnute białymi chmurami mówi - deszcz w niedługim czasie. Tęcza rano (na zachodzie) - opady, tęcza wieczorem (na wschodzie) - zła pogoda powinna w niedługim czasie minąć. Deszcz, który pada ustanie po południu lub w nocy, ale nie powoduje rozpogodzenia się nieba - będzie dalej padać. Ciepły deszcz po południu - utrzymanie się złej pogody. Doskonała widoczność w górach i wyraźne szczyty - deszcze, lekko zamglone - dobra pogoda. Rosa rano - dobra pogoda w ciągu dnia.</p>
                    <p class="cytat">Tęcza rano ostrzega, wieczorem raduje <br> Minie deszcz, niebo się rozsnuje</p> 
                    <p class="cytat">Gdy ze wschodu wiatr przychodzi <br> Będzie trwał dwanaście godzin</p> 
                </div>
            
                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <img class="img-thumbnail float-right" src="../img/tecza.jpg" alt="Tęcza">
                </div>

                <div class="col-8 mt-3 text barwy">
                    <p>grzmoty przy zimnej deszczowej pogodzie w lecie</p> 
                    <p>gołoledź</p>
                    <p>dym z kominów ścielący się po ziemi niepewnie</p>
                    <p>dym z komina lub ogniska, unoszący się prosto do góry</p>
                    <p>tęcza rano i przed południem</p>
                    <p>tęcza po południu i wieczorem</p>
                    <p>szron</p>
                    <p>opady śnieżne nocą w wielkich ilościach</p>
                    <p>po deszczu woda szybko wyparowuje</p>
                    <p>halo dookoła słońca</p>
                    <p>rosa</p>
                    <p>opadająca mgła</p>
                    <p>podnosząca się mgła</p>
                    <p>mżawka</p>
                    <p>gęsta mgła poranna w jesieni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>powietrze ma ziemisty zapach</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                </div>

                <div class="col-4 mt-3 text2 barwy">
                    <p>okres niepogody</p>
                    <p>niepogoda trwająca dość długo</p>
                    <p>pogorszenie pogody</p>
                    <p>dobra pogoda</p>
                    <p>deszcz z wichrem</p>
                    <p>poprawa pogody</p>
                    <p>zazwyczaj ładna pogoda</p>
                    <p>odwilż lub ocieplenie</p>
                    <p>powtórny deszcz</p>
                    <p>pogorszenie się pogody</p>
                    <p>piękna pogoda</p>
                    <p>cieplej</p>
                    <p>deszcz</p>
                    <p>długotrwała niepogoda</p>
                    <p>długotrwała piękna pogoda</p>
                    <p>skłonność do burz</p>
                    <p>niedługo będzie padać</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                    <p>mgła poranna w gorące dni</p>
                </div> 

            </div>

        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.col-sm-6 col-md-5flare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="../jsBootstrap/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>

</body>
</html>